<h1>Edit Site</h1>

<form method="post" class="form-md">
    <div class="mb-3">
        <label>
            Account: {{account.name}}
        </label>
    </div>

    {{#sitesEditForm}}
        {{> form/fields }}

        {{> partials/form/errorFields }}
    {{/sitesEditForm}}

    <div class="mb-3">
        <button type="submit" class="btn btn-primary">
            Save Site
        </button>
    </div>

    <div class="mb-3">
        <a href="./admin/sites/edit/{{site.id}}/pages">Pages...</a>
    </div>
</form>
